@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap');
@import "tailwindcss";

@theme {
  --font-raleway: var(--font-raleway);
  --font-rouge-script: var(--font-rouge-script);
}

:root {
  --foreground: #ffffff;
  --background: #0a0a0a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

