@import "tailwindcss";

@theme {
  --font-raleway: var(--font-raleway);
  --font-rouge-script: var(--font-rouge-script);
}

/* This defines CSS variables */
:root {
  --foreground: #ffffff;
  --background: #0a0a0a;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.blob-outer-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  inset: 0;
  margin: auto;
  filter: blur(100px);
}

.blob-inner-container {
  border-radius: 99999px;
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  overflow: hidden;
  transform: scale(0.8);
}

.blob {
  position: absolute;
  width: 100vw;
  height: 100vh;
  inset: 0;
  margin: auto;
  opacity: 45%;
  background: conic-gradient(from 0deg, #2A004E, #500073, #C62300, #F14A00, #1E3E62, #091057, #8E1616, #A888B5);
  animation: blobMove 15s linear infinite;
}

@keyframes blobMove {
  0% {
    transform: rotate(0dev) scale(2);
  }

  100% {
    transform: rotate(1turn) scale(2);
  }
}