@import "tailwindcss";

@theme {
  --font-raleway: var(--font-raleway);
  --font-rouge-script: var(--font-rouge-script);
}

/* This defines CSS variables */
:root {
  --foreground: #ffffff;
  --background: #0a0a0a;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.blob-outer-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 0;
  inset: 0;
  margin: auto;
}

.blob-inner-container {
  border-radius: 99999px;
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
}

.blob {
}
